<div class="row justify-content-md-center">
  <div class="col-lg-8 col-md-8 col-sm-12 align-self-center">
    <h4>Novo Desenho</h4>
    <%= render 'form' %>
    <%= link_to 'voltar', root_url %>
  </div>
</div>
