
<div class="row">
  <div class="col-lg-3 col-md-3 col-sm-6">
    <p> Copyright  2017 -
      <%- if logged?%>
        <%= link_to 'GerdaoArt', logout_path, :class =>"login-link"%>
      <%- else%>
        <%= link_to 'GerdaoArt', login_path, :class =>"login-link"%>
      <% end %>
    </p>
  </div>
  <div class="col-lg-7 col-md-7"></div>
  <div class="col-lg-2 col-md-2 col-sm-6">
    <%= render 'partials/social_midia'%>
  </div>
</div>
