
<div class="container">
  <p class='text-muted'> Copyright - 2017 -
    <%- if logged?%>
      <%= link_to 'GerdaoArt', logout_path%>
    <%- else%>
      <%= link_to 'GerdaoArt', login_path%>
    <% end %>
  </p>
</div>
