<div class="col-lg-2 col-md-2 col-sm-6">
  <a href= "https://www.facebook.com/gerdaoart/">
    <i class="fa fa-facebook-square fa-3x" aria-hidden="true"></i>
  </a>
  <a href="http://www.imgsta.com/user/gerdaoart">
    <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
  </a>
  <a>
    <i class="fa fa-pinterest-square fa-2x" aria-hidden="true"></i>
  </a>
  <a>
    <i class="fa fa-twitter-square fa-4x" aria-hidden="true"></i>
  </a>
  <a href="https://gerdaoart.tumblr.com/">
    <i class="fa fa-tumblr-square fa-lg" aria-hidden="true"></i>
  </a>
</div>
