/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 * require_tree .
 */

 @import 'bootstrap-sprockets';
 @import 'bootstrap';

 // .some-div {
 //   background-image: url(image-path('background.jpg'));
 // }

 #background_image {
     background:linear-gradient(to right, rgba(255,255,255,.3), rgba(255,255,255,.4)),
      image-url('background_jack.jpg') no-repeat  center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100%;
    // background-color: rgba(0,0,0,0.2);
    // background: rgba(50, 54, 54, 0.1);
    // background-image: rgba(0,0,0,0.1);
    // opacity: 0.3;
    // filter: alpha(opacity = 40);
 }

//  .background {
//   background: asset-url("background.png", image);
//   background: asset-url($asset, $asset-type);
//   //  background: image-url('background.png');
// }
