// Place all the styles related to the Image controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.image-defaults{
  font-family: monospace;
  margin-left: auto;
  margin-right: auto;
}

.image-border {
  border: 4px;
  border-style: solid;
  border-color: rgba(255, 2550, 255,.5);
}

.image-caption {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.4);
  left: 18px;
  text-align: center;
  padding: 10px;
  bottom: 0;
  width: 550px;
}

.image-caption h4{
  color: black;
  text-decoration: none;
  text-transform: lowercase;
  font-size: 35px;
  @extend .image-defaults;
}

.image-description{
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  text-transform: lowercase;
  @extend .image-defaults;
  font-size: 20px;
  font-weight: 300;
  padding: 10px;
  border-radius: 10px;
}

.image-title{
  font-size: 25px;
  color: black;
  @extend .image-defaults;
}
