// Place all the styles related to the Image controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.image-border {
  border: 4px;
  border-style: solid;
  border-color: rgba(0, 0, 0,.5);
}


.image-caption {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  left: 15px;
  text-align: center;
  padding: 10px;
  bottom: 0;
  width: 550px;
}


.image-caption h5{
  color: white;
  text-decoration: none;
}
